<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Amiibo Search</title>
</head>
<body>    
    <div id="app" class="background">
        <div class="container center-content">
            <img src="https://delildel.files.wordpress.com/2014/11/amiibobanner.jpg" alt="banner">
            <div class="control has-icons-left has-icons-right">
                <input class="input is-large is-rounded is-info" type="text" placeholder="Insert Amiibo name" @keyup="searchAmiibo" v-model="search">
                <span class="icon is-medium is-left">
                    <i class="fas fa-chess-bishop"></i>
                </span>
            </div>
        </div>        
        <div class="wrap-content">
            <div class="card" v-for="amiibo in amiibos">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img :src="amiibo.image" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="https://vignette.wikia.nocookie.net/mario-fanon/images/e/ed/Amiibo_logo.png/revision/latest?cb=20150408142337&path-prefix=es"
                                    alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ amiibo.name }}</p>
                            <p class="subtitle is-6">{{ amiibo.amiiboSeries }} Series</p>
                        </div>
                    </div>

                    <div class="content">
                        <p><b>Character</b> : {{ amiibo.character }}</p>
                        <p><b>Game</b> : {{ amiibo.gameSeries }}</p>
                        <p><b>Release</b> : </p>
                        <div class="release-content">
                            <p>Japan at
                                <time>{{ amiibo.release.jp }}</time>
                            </p>
                            <p>North America at
                                <time>{{ amiibo.release.na }}</time>
                            </p>
                            <p>Europe at
                                <time>{{ amiibo.release.eu }}</time>
                            </p>
                            <p>Australia at
                                <time>{{ amiibo.release.au }}</time>
                            </p>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>        
    </div> 
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>    
    <script>
        new Vue ({
            el: '#app',
            data: {
                search: '',
                amiibos: []
            },
            methods: {
                searchAmiibo () {
                    let timeout = null                   
                    let self = this
                    let keyword = this.search 
                    let url
                    if (this.search === '') {
                        url = `http://www.amiiboapi.com/api/amiibo/`
                    } else {
                        url = `http://www.amiiboapi.com/api/amiibo/?character=${keyword}`
                    }                    
                    if (timeout!=null) {
                        clearTimeout(timeout)
                        timeout = null
                    }
                    timeout = setTimeout(function(){                        
                        axios.get(url)
                        .then(res => {
                            console.log(res);
                            self.amiibos = res.data.amiibo
                        })
                        .catch(err => {
                            console.log(err);
                            
                        })
                        timeout = null
                    },500) 
                }
            },

            beforeCreate () {
                axios.get('http://www.amiiboapi.com/api/amiibo')
                .then(res => {
                    console.log(res);
                    this.amiibos = res.data.amiibo
                })
                .catch(err => {
                    console.log(err);
                    
                })
            }
        })        
    </script>
    <style>
        .background {
            background-image: url("http://images.nintendolife.com/news/2018/04/amiibo/attachment/0/900x.jpg");            
        }
        .wrap-content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .content {
            line-height: 10%;
        }
        .release-content {
            margin-left: 2%;
        }
        .card {
            background-color: rgba(255, 255, 255, 0.8);
            width: 20%; 
            margin: 2%;
        }

        .container img {
            width: 100%; 
            margin-top: 2%; 
            margin-bottom: 2%;
        }
    </style>
</body>
</html>